.header__language {
  width: 29px;
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.header__language:hover {
  opacity: .8;
  transition: .3s;
}


@media screen and (max-width: 700px) {
  .header__language {
    font-size: 18px;
    line-height: 1.11;
  }
}
