/* Здесь не стала задавать общие внутренние отступы,
так как есть элементы, которые в какой-то момент
расстягиваются на всю ширину страницы*/

.content {
  display: grid;
  gap: 92px;
}

@media screen and (max-width: 800px) {
  .content {
    gap: 88px;
  }
}

@media screen and (max-width: 540px) {
  .content {
    gap: 64px;
  }
}
