.intro {
  padding-left: 148px;
  max-width: 690px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 288px;
  }
}

