.place {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 800px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 630px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}


