.lead__illustration-caption {
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: .15em;
  text-transform: uppercase;
}

@media screen and (max-width: 950px) {
  .lead__illustration-caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__illustration-caption {
    padding-left: 16px;
  }
}
